body {
    /* Background image from images assets */
    background-image: url('images/bg-kitt.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.float {
	position:fixed;
	height:60px;
	bottom:40px;
	right:40px;
}

a {
    text-decoration: none;
    color: white;
}

.my-float{
    width: 60px;
    height: 70px;
	margin-top:22px;
}

/* Chatbox starts here */

.Chat {
    width: 400px;
    margin: 55px auto;
    background: white;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 60px;
    right: 70px;
}

.Chat-avatar {
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 20px;
}

.Chat-header {
    color: white;
    display: flex;
    align-items: start;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
    background: #6631F8;
    border-radius: 20px 20px 0 0;
    font: 300 18px/1 'Roboto', sans-serif;
    display: flex;
}

.Chat-title{
    font-weight: bold;
    line-height: 30px;
}

.Chat-messages {
    height: 250px;
    max-height: 500px;
    overflow: scroll;
    padding: 30px;

    > * + * {
        margin-top: 30px;
    }
}

.Chat-message--user {
    text-align: right;

    .Chat-bubble {
        background: #6631F8;
        color: white;
    }
    
    & + & {
        margin-top: 15px;
    }
}
    
.Chat-message--bot {
    & + & {
        margin-top: 15px;
    }
}
    
.Chat-message--dots {
    opacity: 0;
    margin-top: 15px;
    transition: opacity 1s ease;
    
    .Chat-messages--typing & {
        opacity: 100;
        transition: opacity .35s ease;
        transition-delay: 3s;
    }
}


.Chat-bubble {
    background: rgba(102, 49, 248, 0.09);
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    color: #1a1a1a;
    font: 300 16px/1 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.Chat-dots {
    width: 30px;
    height: 20px;
    fill: red;
}

.Chat-dots, .Chat-dot1 {
    fill: #1a1a1a;
    animation: Chat-dots 2s infinite;
}

.Chat-dot2 {
    @extend .Chat-dots;
    animation-delay: 0.3s;
}

.Chat-dot3 {
    @extend .Chat-dots;
    animation-delay: 0.6s;
}

.Chat-input {
    position: absolute;
    display: flex;
    width: 340px;
    align-items: center;
    padding: 30px;    
    border-top: 1px solid #ddd;
    background: white;
    border-radius: 0 0 20px 20px;
}

.modal {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Chat-timestamp {
    color: #b9b9b9;
    margin-left: 10px;
    font: 300 10px/1 'Roboto', sans-serif;
}

.Chat-icon {
    width: 40px;
    height: 35px;
    fill: #888;
    cursor: pointer;
    
    & + & {
        margin-left: 30px;
    }
}

.Chat-icon-ticket {
    height: 25px !important;
    width: 30px;
}

.Chat-submitBtn {
    display: none;
}

.Chat-inputField {
    font-size: 18px;
    flex: 1;
    border: none;
    
    &:focus {
        outline: none;
    }
}

@keyframes Chat-dots {
    0% {
        opacity: 0;
        transform: translate(0, 1px);
    }
    50% {
        opacity: 1;
        transform: translate(0, -1px);
    }
    100% {
        opacity: 0;
        transform: translate(0, 1px);
    }
}
